# Copiá este archivo como .env y completá los valores. El .env NUNCA se sube a GitHub (.gitignore).
AIRFLOW_UID=50000
# Formato: postgres://USUARIO:CONTRASEÑA@HOST:5439/BASE
AIRFLOW_CONN_REDSHIFT_POKEMON=postgres://usuario:contraseña@mi-cluster.xxxxx.us-east-1.redshift.amazonaws.com:5439/mi_base
